- action = local_assigns.fetch(:action, :post)
= form_with scope: :car, url: path, method: action  do |form|
  %div
    = form.label :name, "Name:"
    = form.text_field :name
  %div
    = form.label :description, "Description:"
    = form.text_area :description
  %div
    = form.submit "#{action == :post ? "Add" : "Edit"}"
